.bookmark-container{
  width: 930px;
  position: absolute;
  left: 415px;
}
.bookmark-container h1{
  color: rgba(255, 255, 255, 1);
  font-weight: lighter;
  font-size: 23px;
  padding: 0;
  margin: 0;
}
.bookmark-saved{
  width: 930px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.bookmark{
  width: 310px;
  height: 310px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  border: 3px solid black;
}
.bookmark img{
  width: 310px;
}
.bookmark-details{
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  gap: 30px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s ease-out;
}
.bookmark-details:hover{
  opacity: 1;
}


.bmclicked-parent{
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
}
.bmclicked-container{
  background: black;
  display: flex;
  height: 100%;
  width: fit-content;
  color: white;
  position: relative;
}
.bmclicked{
  height: 100%;
}
.bmclicked img{
  height: 100%;
}
.bmclicked-details{
  width: 470px;
  position: relative;
}
.bmclicked-profile{
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
}
.bmclicked-profile img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.bmclicked-like{
  position: absolute;
  bottom: 0;
  width: 470px;
  height: 155px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background: black;
}
.bmclicked-like-details{
  display: flex;
  gap: 15px;
  font-size: 22px;
  padding: 10px 20px;
}
.bmclicked-commentar{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 480px;
}
.bmclicked-comment{
  display: flex;
  padding: 20px 20px;
  font-size: 22px;
  gap: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.bmclicked-comment input{
  background: transparent;
  border: none;
  outline: none;
  width: 350px;
  color: rgba(255, 255, 255, 1);
}
.kirim-button{
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
  margin-left: auto;
  border: none;
  background: transparent;
  cursor: pointer;
}
.kirim-button.remove-button{
  color: #1890ff;
}
.post-close{
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.account-comment{
  display: flex;
  padding: 20px;
  font-size: smaller;
  gap: 15px;
}
.account-comment img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}